{{!-- <h1>Names</h1>


Name count: {{names.length}}

{{code}}

<table>
	<tr>
		<th>First name</th>
		<th>Last name</th>
	</tr>

	{{#each names}}
	<tr>
		<td>
			{{firstName}}
		</td>
		<td>
			{{lastName}}
		</td>
	</tr>
	{{/each}}

</table> --}}

{{!-- <table> --}}
	{{!-- <tr>
		<th>Type</th>
		<th>Price</th>
		<th>When</th>
	</tr> --}}

	{{!-- {{#each actions}}
	<tr>
		<td>{{size}}</td>
		<td>{{count}}</td>
		<td>{{price}}</td>
		<td>{{Total Cost}}</td>
	</tr>
	{{/each}}

</table> --}}